.header__lang-link{
    margin-right: 18px;
    text-decoration: none;
    align-self: flex-start;
    color: white;
    line-height: 28px;
    font-size: 24px;
    font-weight: normal;
    align-items: center;
}

.header__lang-link:hover{
    opacity: 0.8;
    transition: 0.2s;
}

@media screen and (max-width: 320px) {
    .header__lang-link{
        font-size: 18px;
        line-height: 20px;
    }
}