.place__image{
    width: 460px;
    margin: 0 28px 0 0;
    object-fit: contain;
    object-position: top;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .place__image{
        width: 440px;
        margin: 47px 32px 0 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__image{
        width: 340px;
        margin-top: 48px;
    }
}

@media screen and (max-width: 767px) {
    .place__image{
        width: 100%;
        margin: 0;
        max-height: 320px;
    }
}

