.intro__list{
    color: white;
    font-size: 12px;
    line-height: 18px;
    margin:0;
}

@media screen and (min-width: 1024px){
    .intro__list{
        width: 690px;

    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro__list{
        width: 720px;

    }
}

@media screen and (max-width: 768px) {
    .intro__list{
        width: 100%;
        margin-top: 34px;
    }
}