.lead{
    margin: 56px auto 92px;
}

@media screen and (max-width: 1024px) {
    .lead{
        position: relative;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header{
        position: relative;
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .header{
        position: relative;
        max-width: 320px;
    }
}