.cover__subtitle{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 32px;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle{
        width: 100%;

        /*top: 379px;*/
        /*left: 332px;*/
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle{
        /*top: 299px;*/
        /*left: 204px;*/
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle{
        /*top: 119px;*/
        /*left: 16px;*/
        /*font-size: 14px;*/
        /*line-height: 16px;*/
        /*width: 288px;*/
        /*margin: 0;*/
    }
}