.cover__subtitle{
    position: absolute;
    top: 429px;
    left: 412px;
    width: 360px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 32px auto;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle{
        top: 379px;
        left: 332px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle{
        top: 299px;
        left: 204px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle{
        top: 119px;
        left: 16px;
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        margin: 0;
    }
}