.intro__text{
    width: 690px;
    height: 208px;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: white;
}

@media screen and (max-width: 1024px) {
    .lead__caption{
        margin-bottom: 8px;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .lead__caption{
        margin: 8px 24px 0;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption{
        margin: 8px 24px 0;
    }
}