.website{
    margin-top: 106px;
    height: fit-content;
}

.website:nth-child(2){
    margin-top: 30px;
}
.website:nth-child(3){
    margin-top: 30px;
}
.website:nth-child(5){
    margin-top: 30px;
}



@media screen and (min-width: 1024px){
    .website{
        width: 484px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .website{
        width: 352px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .website{
        width: 352px;
        margin-top: 46px;
    }
}

@media screen and (max-width: 425px) {
    .website{
        width: 288px;
        margin: 32px auto 32px;
    }
}