.lead__subtitle{
    color: white;
    width: 640px;
    height: 72px;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 32px auto 0;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle{
        width: 1024px;
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle{
        width: 768px;
        height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle{
        width: 320px;
        height: 200px;
    }
}