.cover{
    background-image: url("../../images/__background.png");
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1184px;
    height: 740px;
    margin: 0 auto 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 1024px) {
    .cover{
        width: 100%;
    }
}