.cover__background {
    position: absolute;
    width: calc(100% - 96px);
    height: 740px;
    /*background-color: */
}


@media screen and (min-width: 1280px) {
    .cover__background{
        width: 100%;
    }
}
