.cover__title{
    position: absolute;
    top: 245px;
    left: 312px;
    color: white;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    width: 560px;
    text-align: center;
    margin: 0 auto 0;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__title{
        top: 195px;
        left: 232px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title{
        top: 115px;
        left: 104px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title{
        top: 33px;
        left: 16px;
        font-size: 32px;
        line-height: 35px;
        width: 288px;
    }
}