.cover__title {
    color: white;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    width: 560px;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 250px;
        margin: 33px auto 0;
    }
}