.place{
    display: flex;
    flex-wrap: wrap;
    width: 984px;
    margin: 0 auto 80px;
}


.place:nth-child(1){
    margin-top: 64px;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place{
        width: calc(100% - 96px);
        margin: 0 auto 80px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place{
        width: calc(100% - 48px);
        margin: 0 auto 73px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .place{
        width: calc(100% - 32px);
        margin: 0 auto 50px;
    }
}

@media screen and (max-width: 424px) {
    .place{
        width: 100%;
        margin: 0 auto 50px;
    }
}